//Banner
.interact-banner{
  .main-logo{
    width: 100%;
    height: auto;
  }
  .facebook_thumbnail{
    display: none;
  }
  h1{
    padding: 0;
    display: block;
    font-size: 22px;
    margin-bottom: -10px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 500;
  }
}
.interact-banner--primary{
  background: $green-300;
}