//Banner
.section.section--home-banner{
  height: 80vh;
  position: relative;
  &__foreground{
    h1{
      color: #fff;
      padding: 0;
      display: block;
      font-size: 22px;
      text-align: left;
      letter-spacing: 0px;
      line-height: 1.5;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }

}
.section--primary{
  background: $green-300;
}
