{% capture _interactive_banner_image %}leafy_bg.jpeg{% endcapture %}
{% capture _interactive_banner_color %}green{% endcapture %}
{% capture _interactive_banner_logo %}logo-rounded-white.png{% endcapture %}
{% capture _interactive_banner_logo-alt %}logo-rounded-white.png{% endcapture %}
{% if template == "index" %}
    <div class="section section--home-banner section--primary"
         style="background-image: url('{{ 'stock-farmer-hand-box.jpg' | asset_url }}');"
    >
        <div class="container">
            <div class="grid grid--center">
                <div class="grid__item one-half">
                    <h1>
                        Fancy a box of certified organic produce delivered to your door?
                        Check if we’re delivering to your neighbourhood.
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}