{% capture _interactive_banner_image %}leafy_bg.jpeg{% endcapture %}
{% capture _interactive_banner_color %}green{% endcapture %}
{% capture _interactive_banner_logo %}logo-rounded-white.png{% endcapture %}
{% capture _interactive_banner_logo-alt %}logo-rounded-white.png{% endcapture %}
{% if template == "index" %}
	<div class="section section--home-banner section--primary">
		<div class="section--home-banner__foreground">
			<h1>
				Fancy a box of certified organic produce delivered to your door?
				Check if we’re delivering to your neighbourhood.
			</h1>
		</div>
	</div>
{% endif %}