{% if template == "index" %}
    <div class="section">
        <div class="container">
            <div class="grid grid--center">
            </div>
            <div class="grid grid--center">
                <div class="grid__item s10 push-s2 m6 push-m6 l4 push-l4">
                    <h2>It's all about the box, 'bout the box, no troubles</h2>
                    <p>
                        Our mission is simple. To provide affordable, 100% certified organic, seasonal produce to your doorstep while supporting farmers in our region. By choosing Local you'll save time in the supermarket isles and eat easy knowing that you're contributing to a food system that respects farmers, the environment and the local community.
                    </p>
                    <p>
                        Your box will be filled to the brim with a great variety of the best produce in season. Just choose the size that suits you and we handle the rest.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}