// Extra-extra-extra small screen / phone (iPhone 5)
// (no variable needed)

// Extra-extra small screen / phone (iPhone 6 portrait)
$screen-xxs-min:             375px;

// Extra small screen / phone (usually landscape)
$screen-xs-min:              480px;

// Small screen / tablet
$screen-sm-min:              768px;

// Medium screen / desktop
$screen-md-min:              992px;

// Large screen / wide desktop
$screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xxxs-max:            ($screen-xxs-min - 1);
$screen-xxs-max:             ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);


$ty-range-model-typography-breakpoint: md;

$ty-owl-carousel-dominant-breakpoint: sm;
$ty-owl-carousel-dominant-breakpoint-minus-one: xs;
$ty-owl-carousel-typography-breakpoint: $ty-range-model-typography-breakpoint;
// mixin for breakpoints
//
// Example usages:
// @include breakpoint(sm) { ... } -- tablets and above
// @include breakpoint(null, xs) { ... } -- mobiles only
// @include breakpoint(null, xxs) { ... } -- portrait mobile only
// @include breakpoint(xxs, xxs) { ... } -- portrait iPhone 6 (and similar sized phones) only
//
@mixin breakpoint($min-width-shorthand, $max-width-shorthand: false) {
  $min-widths: (
          xxxs: false,          // Small mobile (i.e. iPhone 5 portrait)
          xxs: $screen-xxs-min, // Mobile (i.e. iPhone 6 and larger portrait)
          xs: $screen-xs-min,   // Mobile landscape & up.
          sm: $screen-sm-min,   // Tablet & up.
          md: $screen-md-min,   // Medium desktop & up.
          lg: $screen-lg-min    // Large desktop.
  );

  $max-widths: (
          xxxs: $screen-xxxs-max, // Small mobile (i.e. iPhone 5 portrait)
          xxs: $screen-xxs-max,   // Mobile (i.e. iPhone 6 and larger portrait)
          xs: $screen-xs-max,     // Mobile landscape & down
          sm: $screen-sm-max,     // Tablet & down
          md: $screen-md-max,     // Medium desktop & down
          lg: false               // Large desktop.
  );

  $min-width: if($min-width-shorthand, map-get($min-widths, $min-width-shorthand), false);
  $max-width: if($max-width-shorthand, map-get($max-widths, $max-width-shorthand), false);

  @if $min-width and $max-width and $min-width > $max-width {
    @error "Invalid breakpoint pair: min-width is #{$min-width}, but max-width is lower than that (#{$max-width}).";
  }

  @if $min-width and not $max-width {
    @media (min-width: $min-width) {
      @content;
    }
  } @else if (not $min-width and $max-width) {
    @media (max-width: $max-width) {
      @content;
    }
  } @else if ($min-width and $max-width) {
    @media (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  }
}

@mixin breakpoint-only($width) {
  @include breakpoint($width, $width) {
    @content;
  }
}