$green-500: #33CC99;
$green-300: #76CCA7;
$green-100: #99CCCC;

$blue-500: #3399CC;
$blue-300: #66CCCC;
$blue-100: #99CCCC;

$kraft-500:#CC9966;
$kraft-300:#CC9966;
$kraft-100:#CC9966;

$red-500: #CC3333;
$red-300: #CC6666;
$red-100: #E1B4AF;

$grey-500: #4A4A4A;
$cream-300: #FAF5EF;
