$green-500: #3FB383;
$green-300: #76CCA7;
$green-100: #AFE0CC;

$blue-500: #3FAAB3;
$blue-300: #76C5CC;
$blue-100: #AFDDE1;

$kraft-500:#CBAA76;
$kraft-300:#E1CCAE;
$kraft-100:#F6EFE7;

$red-500: #B44C42;
$red-300: #CD7F77;
$red-100: #E1B4AF;

$grey-500: #4A4A4A;
