$main-nav-height-xs: 55px;
$main-nav-height-sm: 60px;
$main-nav-height-md: 80px;

$main-nav-width-logo-xs: 80px;
$main-nav-width-logo-sm: 90px;
$main-nav-width-logo-md: 125px;
$main-nav-margin-top: 15px;
$main-nav-margin-left: $main-nav-margin-top;
$main-nav-margin-left-lg: $main-nav-margin-top + 35px;
$main-nav-width-logo-transition: all .2s ease-in;